<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #057717;">
    <a class="navbar-brand" href="#">GreenCDMX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            {{!-- <img src="/public/images/bootstrap-solid.svg" width="30" height="30" alt=""> --}}
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        
                {{!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> --}}
      </ul>
      <div>
        <a href="/signup"><button class="btn btn-outline-secondary my-2 my-sm-0" style="background-color: white;"
            type="submit">Sign
            Up</button></a>
        <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            style="background-color: #052C77; color: white; border-color:white;">Log
            In</button></a>
      </div>
    </div>
  </nav>



<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Your step towards a greener city</h1>
    <p>Green CDMX helps reduce CO2 emissions, to improve air quality in the city. Also, you can track your fitness by walking or riding a bike</p>
    <ul class="list-group mt-5">
  <li class="list-group-item active">Our top users</li>
  <li class="list-group-item">ABC</li>
  <li class="list-group-item">ABC</li>
  <li class="list-group-item">ABC</li>
  
</ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Pick the route that fits</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
      <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/#" role="button">View
          details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>How Green CDMX works</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
      <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/#" role="button">View
          details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Get Started</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="/signup" role="button">Sign
          Up »</a></p>
    </div>
  </div>
  <hr>
</div>


<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/city-3985941_1280.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Green CDMX</h1>
          <p>Help your city to improve the life quality by reducing CO2 emissions</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../images/mexico-4066419_1280.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Stay healthy</h1>
          <p>Move your ass.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../images/portrait-3091044_1280.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Stay healthy</h1>
          <p>Move your ass.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <h2>Recent Trips</h2>
  <div class="row">
    {{#each trip}}
    <div class="col-4">
      <br>
      <p> {{content}}</p>
      <img class="post-img" src="{{ this.postPicture.path }}" alt="{{ this.postPicture.originalName }}" /> <br>
      <small>Created By: {{clearName}}</small>
      <a href="/edit-book?bookid={{this._id}}">
        <button class="btn btn-secondary">Edit</button>
      </a>
    </div>
    {{/each}}
  </div>
</div>