<div class="container mt-5">
  <div class="container mb-5">
  <h2>Welcome to your Profile, {{user.username}}</h2>
  </div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h1>{{user.accCo2}} kg CO2</h1>
      <h1>+ {{co2}}</h1>
      
      <h5 class="card-title">Your CO2 Savings Account</h5>
      <p class="card-text">Good Job!</p>
    </div>
    <div class="card-footer">
      {{!-- <small class="text-muted">Last updated 3 mins ago</small> --}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1>{{user.accCals}} Calories</h1>
      <h1>+ {{cal}}</h1>

      <h5 class="card-title">Your Burned Calories Account</h5>
      <p class="card-text">You are on your way!</p>
    </div>
    <div class="card-footer">
      {{!-- <small class="text-muted">Last updated 3 mins ago</small> --}}
    </div>
  </div>
</div>


  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  
  
</div>

<div class="container mt-3">
  <a href="/logout">Logout</a>
</div>