
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #057717;">
    <p class="navbar-brand m-0" href="#"><b>GreenCDMX</b></p> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            {{!-- <img src="/public/images/bootstrap-solid.svg" width="30" height="30" alt=""> --}}
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>

      </ul>

    </div>
  </nav>






<div class="container mt-5">
  <div class="container mb-5">
  <h2>Welcome to your Profile, {{user.username}}</h2>
  </div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h1>{{user.accCo2}} kg CO2</h1>
      
      <h5 class="card-title">Your CO2 Savings Account</h5>
       {{#if user.accCo2}}
      <p class="card-text">Good Job!</p>
      {{else}}
      <p class="card-text">Time to start collecting CO2 points!</p>
      {{/if}}
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1>{{user.accCals}} Calories</h1>
      <h5 class="card-title">Your Burned Calories Account</h5>
       {{#if user.accCals}}
    <p class="card-text">You are on your way!</p>
     {{else}}
      <p class="card-text">Your calories are waiting to be burned!</p>
      {{/if}}
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>


  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  
  
</div>

<div class="container mt-3">
  <a href="/logout">Logout</a>
</div>