<div class=container>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
  <h1>Welcome to your Profile, {{user.username}}</h1>
  <br>
  <a href="{{user._id}}/trip"><button class="btn btn-info">New Trip</button></a>
  <br>
  <br>
  <a href="/index-auth">Back to Posts Overview</a>
</div>
<div class=container>
  {{!-- {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
    <br>
    {{/each}}
    <a href="{{user._id}}/upload"><button class="btn btn-secondary"> Upload a new profile picture</button></a>
    <br> --}}
</div>
<div class=container>
  <a href="/logout">Logout</a>
</div>